
$_circle-component: #{$root-class}__circle-group;

//size

$size-themes:(
  big:(
    width: 3 * $font-basis,
    height: 3 * $font-basis,
  ),
  small:(
    width: 0.5 * $font-basis,
    height: 0.5 * $font-basis,
  )
);


#{$_circle-component}{

  #{$root-class}__circle{
    display: inline-block;
    border: solid 1px $tomato;
    border-radius: 50%;
    transform: rotate(-90deg);

    .circleSector {
      fill: transparent;
      stroke:  #ea5548;
      transition: stroke-dasharray 3s ease;
    }
    

    // @each $size, $styles in $size-themes{
    //   &[data-size=#{$size}]{
    //     width: map-get($styles , width);
    //     height: map-get($styles , height);
    //   }
    // }

    &:not(:first-child){
      margin-left: 0.2 * $font-basis;
    }

    // &[data-fill="fill"]{
    //   background-color: $tomato;
    // }
  }

}

