
$_circle-component: #{$root-class}__circle-group;

//size

$size-themes:(
  big:(
    width: 0.7 * $font-basis,
    height: 0.7 * $font-basis,
  ),
  small:(
    width: 0.5 * $font-basis,
    height: 0.5 * $font-basis,
  )
);


#{$_circle-component}{

  #{$root-class}__circle{
    display: inline-block;
    border: solid 2px $tomato;
    border-radius: 50%;

    @each $size, $styles in $size-themes{
      &[data-size=#{$size}]{
        width: map-get($styles , width);
        height: map-get($styles , height);
      }
    }

    &:not(:first-child){
      margin-left: 0.2 * $font-basis;
    }

    &[data-fill="fill"]{
      background-color: $tomato;
    }
  }

}

