
$_circle-component: #{$root-class}__circle;

//size

$size-themes:(
  big:(
    width: 0.7 * $font-basis,
    height: 0.7 * $font-basis,
  ),
  small:(
    width: 0.5 * $font-basis,
    height: 0.5 * $font-basis,
  )
);


#{$_circle-component}{

  display: inline-block;
  border: solid 2px $tomato;
  border-radius: 50%;

  &:not(:first-child){
    margin-left: 0.2 * $font-basis;
  }

  @each $size, $styles in $size-themes{
    &[data-size=#{$size}]{
      width: map-get($styles , width);
      height: map-get($styles , height);
    }
  }

  &[data-fill="fill"]{
    background-color: $tomato;
  }

}

