

//group

$form-group-themes:(
  flex-column:(
    flex-direction: column
  ),
  flex-row:(
    flex-direction: row,
  ),
);


$_task-form: #{$root-class}__form;

#{$_task-form}{

  &-group{
    display: flex;
    position: relative;

    @each $group, $styles in $form-group-themes {
      &[data-flex=#{$group}]{
        flex-direction: map-get($styles , flex-direction);
      }
    }
  }

  &-label{
    font-weight: 600;
    letter-spacing: 0.1 * $font-basis;
    color:$gray-300;
    margin-bottom: 0.8 * $font-basis;
  }
  
  &-rate-group{
    display: flex;
    justify-content: space-between;
  }

}

