

$_modal-timer-component: #{$root-class}__modal-timer;


#{$_modal-timer-component}{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: auto;
  background-color: $gray-100;


  &__content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  

  #{$root-class}__timer{
    text{
      font-size: 2*$font-basis;
      font-weight: 800;
    }


    &__under-circle{
      transition: stroke-dasharray 1s ease;
    }
    &__upper-circle{
      transition: stroke-dasharray 1s ease;
    }
  }
 
  #{$root-class}__button-group{
    display: flex;
    justify-content:space-evenly;
    margin-top: 2 * $font-basis;

    #{$root-class}__timer-button{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3 * $font-basis;
      height: 3 * $font-basis;

      &__icon{
        width: 48px;
        height: 48px;
      }

      &:disabled{
        background-color: $gray-500;
      }
      &:not([disabled]){
        background-color: $white;
      }

      &:not([disabled]):hover{
        color: red;

        &:after{
          content: attr(data-after);
          position: absolute;
        }
      }
    }
  }
}
