
$_aside-panel: #{$root-class}__aside-panel;

$_aside-panel__new-task: #{$_aside-panel}__new-task;

#{$_aside-panel__new-task}{

  #{$root-class}__form-group{
    margin-bottom: 1.8 * $font-basis;
  }
}

