

$_aside-panel: #{$root-class}__aside-panel;

$_aside-panel__task-lists-wrapper:#{$_aside-panel}__task-lists-wrapper;

#{$_aside-panel__task-lists-wrapper}{

  #{$root-class}__task-lists__switch-nav-item{
    width: 5 * $font-basis;
    margin-right:  0.5 * $font-basis;
  }

  #{$root-class}__task-lists__task-item-detail{
    height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: height 0.5s;
  }

  #{$root-class}__task-lists__task-item{
    // height: 40px;
    background-color: $gray-200;;
    transition: height 0.8s;

    &__spread{

      #{$root-class}__task-lists__task-item-detail{
        height: 180px;
        opacity: 1;
        transition: height 0.5s;
        padding: 0 2 * $font-basis;
      }
    }
  }

  #{$root-class}__task-lists__task-item-info{
    // height: 40px;
    padding: 0.8 * $font-basis 2 * $font-basis;
    cursor: pointer;
  }


  // form

  #{$root-class}__task-lists__form{
    border-top: 1px solid $black-100;
  }

  #{$root-class}__form-group{
    display: flex;
    flex-direction: column;
    padding-top:  0.8 * $font-basis;
  }
  
  #{$root-class}__form-label{
    font-size: 0.5 * $font-basis;
    font-weight: 600;
    letter-spacing: 0.1 * $font-basis;
    color: $gray-300;
    margin-bottom: 0.8 * $font-basis;
  }

  #{$root-class}__form-rate-group{
    display: flex;
    justify-content: space-between;
  }

  #{$root-class}__form-rate-tomato{
    cursor: pointer;
     circle{
       fill:$gray-300
     }
     rect{
       fill:$gray-400
     }
   }

}
