

$_aside-panel: #{$root-class}__aside-panel;

$_aside-panel__collapse: #{$_aside-panel}__collapse;


#{$root-class}{

  #{$_aside-panel}{
    width: 600px;
    display: flex;
    background-color: $black-100;
    color: $white;
    position: relative;
    transition: width 0.5s;
    &__menu{
      width: 90px;
      flex-shrink: 0;
     }
  
    &__content{
      width: 100%;
      border-left: 2px solid $gray-200;
    }
  
    &__toggle-collapse{
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      width: 5.5 * $font-basis;
      height: 3 * $font-basis;
      left: -2 * $font-basis;
      bottom: 5 * $font-basis;
      background-color: $white;
      border: none;
      border-radius: 2 * $font-basis 0.6 * $font-basis 0.6 * $font-basis 2 * $font-basis;
      outline: none;
      cursor: pointer;

    }
  }
 
  #{$_aside-panel__collapse}{
    width: 90px;
    & #{$_aside-panel}__content{
      overflow-y: hidden;
      visibility: hidden;
      opacity: 0;
    }

    & #{$_aside-panel}__arrow{
      transform: rotate(180deg);
    }
  }
}
