

$_aside-panel: #{$root-class}__aside-panel;

$_aside-panel__task-lists:#{$_aside-panel}__task-lists;

#{$_aside-panel__task-lists}{

  #{$root-class}__task-lists__switch-nav-item{
    width: 4.5 * $font-basis;
    margin-right:  0.5 * $font-basis;
  }

}
