

$_modal-timer: #{$root-class}__modal-timer;

#{$root-class}{
 
  #{$_modal-timer}{
    flex: auto;
    background-color: $gray-100;
    &__content{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 8* $font-basis;
    }
    h1{
      font-size: 2 * $font-basis;
      font-weight: 800;
      margin-bottom: 3*$font-basis;
    }
  }
}
