//Root ClassName

$root-class:".pomodoro";

//Color
$white: #fff;

$gray-100: #eaeaea;
$gray-200: #414141;
$gray-300: #acacac;
$gray-400: #6e6e6e;

$black-100:#333;

$tomato: #ea5548;
$invalid: red;

//font-size

$font-basis: 1rem;



