//Root ClassName

$root-class:".pomodoro";

//Color
$white: #fff;
$black: #000;
$gray-100: #eaeaea;
$gray-200: #414141;
$gray-300: #acacac;
$gray-400: #6e6e6e;
$gray-500: #DBDBDB;

$black-100:#333;
$black-light-box: #484848;

$tomato: #ea5548;
$invalid: red;
$break-color: #b5e254;

//font-size

$font-basis: 1rem;



