@import "./reset";
@import "./settings.variables";
@import "./modal-timer";
@import "./aside-panel";
@import "./modal-timer";
@import "./aside-panel-menu";
@import "./aside-panel-layouts";
@import "./aside-panel-new-task";
@import "./components//input";




#{$root-class}{
  display: flex;
  height: 100vh;
  overflow-x:hidden;
  font-family: Lato, Microsoft JhengHe, sans-serif;
  
 *{
   box-sizing: border-box;
 }
}
