@import "./reset";
@import "./settings.variables";
@import "./components/input";
@import "./components/button";
@import "./components/tomatoRate";
@import "./components/task-form";
@import "./components/timer";
@import "./components/circle";
@import "./modal-timer";
@import "./aside-panel";
@import "./modal-timer";
@import "./aside-panel-menu";
@import "./aside-panel-layouts";
@import "./aside-panel-new-task";
@import "./aside-task-lists";



#{$root-class}{
  display: flex;
  height: 100vh;
  overflow-x:hidden;
  font-family: Lato, Microsoft JhengHe, sans-serif;
  
 *{
   box-sizing: border-box;
 }
}
