@import "./reset";
@import "./settings.variables";
@import "./modal-timer";
@import "./side-nav";
@import "./modal-timer";
@import "./side-nav-menu";


#{$root-class}{
  display: flex;
  height: 100vh;
  overflow-x:hidden;
}
